<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Deloitte.Foundation.Testing.UI.Rendering.Feature.Folder.ID" value="{DA61AD50-8FDB-4252-A68F-B4470B1C9FE8}"/>
        <setting name="Deloitte.Foundation.Testing.UI.Rendering.Foundation.Folder.ID" value="{180D4942-2B10-4375-BC06-E0D94220A68F}"/>
        <setting name="Deloitte.Foundation.Testing.UI.Rendering.Project.Folder.ID" value="{1995806F-0A84-42B5-93B0-88F0E2FF872C}"/>
      </settings>
    </sitecore>
</configuration>
