<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Deloitte.Foundation.Testing.UI.Cypress.Report.Url" value="https://localhost:3333/report" />
      </settings>
      <cypress>
        <installationManager type="Deloitte.Foundation.Testing.UI.Utilities.Cypress.CypressInstallationManager, Deloitte.Foundation.Testing.UI" />
        <testRunners>
          <liveTestRunner type="Deloitte.Foundation.Testing.UI.Services.Cypress.CypressTestRunner, Deloitte.Foundation.Testing.UI">
            <param>http://localhost:3000/Run</param>
            <settings>
              <config>
                <baseUrl>http://habitathome.dev.local/</baseUrl>
                <video IsBoolean="true"></video>
                <testFiles>**.spec.js</testFiles>
                <blacklistHosts IsArray="true">
                  <entry>www.google-analstics.com</entry>
                  <entry>*.google-analytics.com</entry>
                  <entry>*google-analytics.com</entry>
                </blacklistHosts>
              </config>
              <reporter>mochawesome</reporter>
              <record IsBoolean="true">false</record>
            </settings>
          </liveTestRunner>
          <previewTestRunner type="Deloitte.Foundation.Testing.UI.Services.Cypress.CypressTestRunner, Deloitte.Foundation.Testing.UI">
            <param>http://localhost:3000/Run</param>
            <settings>
              <config>
                <baseUrl>http://habitathome.testing.dev.local/</baseUrl>
                <video IsBoolean="true"></video>
                <testFiles>**.spec.js</testFiles>
                <blacklistHosts IsArray="true">
                  <entry>www.google-analstics.com</entry>
                  <entry>*.google-analytics.com</entry>
                  <entry>*google-analytics.com</entry>
                </blacklistHosts>
              </config>
              <reporter>mochawesome</reporter>
              <record IsBoolean="true">false</record>
            </settings>
          </previewTestRunner>
        </testRunners>
      </cypress>
    </sitecore>
</configuration>
