<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <commands>
        <command name="testing:live" type="Deloitte.Foundation.Testing.UI.Sitecore.Commands.TestLivePageCommand, Deloitte.Foundation.Testing.UI" >
          <param type="Deloitte.Foundation.Testing.UI.Factories.TestingServicesFactory" />
        </command>
        <command name="testing:preview" type="Deloitte.Foundation.Testing.UI.Sitecore.Commands.TestPreviewPageCommand, Deloitte.Foundation.Testing.UI">
          <param type="Deloitte.Foundation.Testing.UI.Factories.TestingServicesFactory" />
        </command>
        <command name="testing:liveResults" type="Deloitte.Foundation.Testing.UI.Sitecore.Commands.ShowLiveResultsCommand, Deloitte.Foundation.Testing.UI" />
        <command name="testing:previewResults" type="Deloitte.Foundation.Testing.UI.Sitecore.Commands.ShowPreviewResultsCommand, Deloitte.Foundation.Testing.UI" />
      </commands>
    </sitecore>
</configuration>
