<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <settings>
        <setting name="Deloitte.Foundation.Testing.UI.Cypress.Report.Url" value="https://localhost:3333/report" />
      </settings>
      <cypress>
        <installationManager type="Deloitte.Foundation.Testing.UI.Utilities.Cypress.CypressInstallationManager, Deloitte.Foundation.Testing.UI" />
        <testRunners>
          <liveTestRunner type="Deloitte.Foundation.Testing.UI.Services.Cypress.CypressTestRunner, Deloitte.Foundation.Testing.UI">
            <param>http://localhost:3000/Run</param>
            <options hint="raw:AddOption">
              <option name="--config">baseUrl=http://habitathome.dev.local/</option>
              <option name="--config">video=false</option>
              <option name="--config">testFiles=**.spec.js</option>
              <option name="--config">blacklistHosts=''["www.google-analstics.com","*.google-analytics.com","*google-analytics.com"]''</option>
              <option name="--reporter">mochawesome</option>
              <option name="--record">false</option>
            </options>
          </liveTestRunner>
          <previewTestRunner type="Deloitte.Foundation.Testing.UI.Services.Cypress.CypressTestRunner, Deloitte.Foundation.Testing.UI">
            <param>http://localhost:3000/Run</param>
            <options hint="raw:AddOption">
              <option name="--config">baseUrl=http://habitathome.testing.dev.local/</option>
              <option name="--config">video=false</option>
              <option name="--config">testFiles=**.spec.js</option>
              <option name="--config">blacklistHosts=''["www.google-analstics.com","*.google-analytics.com","*google-analytics.com"]''</option>
              <option name="--reporter">mochawesome</option>
              <option name="--record">false</option>
            </options>
          </previewTestRunner>
        </testRunners>
      </cypress>
    </sitecore>
</configuration>
